@using WebApplication1.ViewModels
@model EditeurJeuViewModel
<h1>@Model.titre</h1>
@if (ViewData.ContainsKey("ValidateMessage"))
{
	<p>@ViewData["ValidateMessage"]</p>
}
@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<form asp-controller="Catalogue" asp-action="@Model.action" asp-route-id="@Model.Jeu.jeuid" method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<td><label asp-for="@Model.Jeu.titre"></label></td>
			<td><input asp-for="@Model.Jeu.titre"></td>
			<td><span asp-validation-for="@Model.Jeu.titre" class="text-danger"></span></td>
		</tr>
		<tr>
			<td><label asp-for="@Model.Jeu.description"></label></td>
			<td><input asp-for="@Model.Jeu.description"></td>
			<td><span asp-validation-for="@Model.Jeu.description" class="text-danger"></span>
		</tr>
		<tr>
			<td><label asp-for="@Model.Jeu.imageFile"></label></td>
			<td><input asp-for="@Model.Jeu.imageFile"></td>
			<td><span asp-validation-for="@Model.Jeu.imageFile" class="text-danger"></span></td></td>
		</tr>
		<tr>
			<td>
				<label asp-for="@Model.Jeu.idTypes"></label>
			</td>
			<td>
				<select asp-for="@Model.Jeu.idTypes" asp-items="Model.ListTypes" multiple="multiple"></select>
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="@Model.Jeu.idThemes"></label>
			</td>
			<td>
				<select asp-for="@Model.Jeu.idThemes" asp-items="Model.ListThemes" multiple="multiple"></select>
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="@Model.Jeu.nombrejoueursrecommandes"></label>
			</td>
			<td>
				<select asp-for="@Model.Jeu.nombrejoueursrecommandes" asp-items="@Model.ListJoueur"></select>
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="@Model.Jeu.tempsjeumoyen"></label>
			</td>
			<td>
				<select asp-for="@Model.Jeu.tempsjeumoyen" asp-items="@Model.ListTemps"></select>
			</td>
	</table>



	<input type="hidden" name="Jeu.image" value="@Model.Jeu.image">
	<input type="hidden" asp-for="@Model.Jeu.jeuid" >
	<input type="submit" value="Envoyer">
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}