@model CatalogueViewModel;

<div class="catalogue">
	@{

	}
	@{
		Layout = "~/Views/Shared/_LayoutSite.cshtml";
	}
	@{
		ViewData["Title"] = "Catalogue de jeu";
		int max = (int)ViewData["i"] + 5;
		int avant = (int)ViewData["i"] - 5;
		int apres = (int)ViewData["i"] + 5;
		int depart = (int)ViewData["i"];

	}
	<form asp-controller="Catalogue" asp-action="Trie" asp method="post">


		<label asp-for="SelectedType"></label>
		<select asp-for="SelectedType" asp-items="Model.ListTypes"></select>


		<label asp-for="SelectedTheme"></label>
		<select asp-for="SelectedTheme" asp-items="Model.ListThemes"></select>


		<label asp-for="SelectedJoueur"></label>
		<select asp-for="SelectedJoueur" asp-items="Model.ListJoueur"></select>


		<label asp-for="Selectedtemps"></label>
		<select asp-for="Selectedtemps" asp-items="Model.ListTemps"></select>
		<button type="submit">Valider</button>
		<div class="bar-button">
			@if (avant >= 1)
			{
				<button><a asp-controller="Catalogue" asp-action="Index" asp-route-i=@avant>avant</a></button>
			}
			else
			{
				<button>avant</button>
			}

			@if (max < Math.Round(@Model.ListJeux.Count / 5.0, 1) * 5)
			{
				<button><a asp-controller="Catalogue" asp-action="Index" asp-route-i=@apres>suite</a></button>
			}
			else
			{
				<button>suite</button>
			}
		</div>
	</form>


	<div class="liste-jeux">
		@for (var i = depart; i < max; i++)
		{
			try
			{
				if (@Model.ListJeux[i].titre != null)
				{
					<div class="game">
						<p class="titre">@Model.ListJeux[i].titre</p>
						<img class="image" src="@Model.ListJeux[i].image" alt="Alternate Text" />
						<p>Description</p>
						<p class="description">@Model.ListJeux[i].description</p>
						<a asp-controller="Catalogue" asp-action="Detail" asp-route-id=@Model.ListJeux[i].jeuid>Détail</a>

						@if (User.IsInRole("Admin"))
						{
							<a asp-controller="Catalogue" asp-action="Editer" asp-route-id=@Model.ListJeux[i].jeuid>éditer</a>


						
							<form class="formSupprJeux" asp-controller="Catalogue" asp-action="Supprimer" asp-route-id="@(Model.ListJeux[i].jeuid)" method="post">
								<input type="submit" value="Supprimer">
								<input type="hidden" name="idJeu" value="@Model.ListJeux[i].jeuid">
							</form>
						}
					</div>
				}
			}
			catch { }

		}


	</div>
</div>









